<h1>carts#show</h1>
<hr>
<tbody>
    <% for cow in 1..@cartitem.maximum(:product_id) do %>
    <% c = @cartitem.where(product_id: cow) %>
    <% if c.where(cart_id:@cart.id).count > 0 %>
       <tr>
           <td><%= "商品名:" %><%= c.first.product.name %>&nbsp;&nbsp;</td>
           <td><%= "価格:" %><%= c.first.product.price %><%= "円" %>&nbsp;&nbsp;</td>
           <td><%= "注文数:" %><%= c.sum(:qty) %><%= "個" %>&nbsp;&nbsp;</td>
           <td><%= "お支払額:" %><%= c.sum(:qty) * c.first.product.price %><%= "円" %>&nbsp;&nbsp;</td>
           <td><%= link_to "   注文取り消し", cartitem_path(cow), method: :delete %></td>
       </tr></br><hr>
    <% end %>
    <% end %>
</tbody>

<p><%= link_to "R.T.B.", products_path, method: :get %></p>