<h1>products#index</h1>
<%= link_to '商品追加', new_product_path %>
<%= link_to 'カートを見る', cart_path(@cartitem), method: :get %>
<hr>
<tbody>
   <% @products.each do |prdct| %>
      <tr>
          <td><%= prdct.name %><%= " " %></td>
          <td><%= prdct.price %><%= "円" %></td>
          <td>
              <%= form_tag(cartitems_path, method: :post) do %>
              <%= label_tag :個数 %>
              <%= number_field_tag :qty %>
              <%= hidden_field_tag :id, prdct.id %>
          </td>
          <td><%= submit_tag "カートに入れる" %></td>
          <td><%= link_to '商品を削除', product_path(prdct.id), method: :delete %></td>
          <% end %>
    <% end %>
</tbody>
