<h1>products#new</h1>
<hr>
<%= form_for @product, url: {action: :create} do |prdct| %>
   <%= prdct.label :商品名 %>
   <%= prdct.text_field :name %>
   <%= prdct.label :価格 %>
   <%= prdct.number_field :price %>
   <p><%= prdct.submit "確定" ,  data: {confirm: '登録しますか?'} %></p>
<% end %>